    /* 隐藏 Cesium logo */
    .cesium-viewer-bottom {
      display: none;
    }

    /* 隐藏版权信息 */
    .cesium-viewer-animationContainer,
    .cesium-viewer-timelineContainer,
    .cesium-viewer-fullscreenContainer,
    .cesium-viewer-vrContainer,
    .cesium-viewer-toolbar {
      display: none;
    }